@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.categories-header {
  margin: 50px 0px 50px 0px;
  padding: 40px 0px;
}

.categories {
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
}

.categories .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.categories .category .circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories .category .circle img {
  width: 50px;
}

.flex {
  margin-top: 50px;
  width: 100%;
}

.container {
  width: 100%;
}

.eventText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventText p {
  font-weight: 600;
}

.card-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

/* Swiper tənzimləmələri */

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.card {
  border: none;
  outline: none;
  box-shadow: none;
}

.card img.photo {
  width: 100%;
  height: auto;
}

.card h5 {
  margin: 10px 5px;
}

.card span {
  display: block;
  margin: 5px 5px;
}

/* Arrow tənzimləmələri */
.arrow {
  position: absolute;
  top: 70%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-arrow {
  left: 10px;
  display: none;
  z-index: 1;
}

.next-arrow {
  right: 10px;
  display: block;
  z-index: 1;
}

.swiper-pagination-bullet {
  background: #000;
}

.circlePhotos {
  display: flex;
  justify-content: space-between;
}

.circlePhotos .circlePhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.circlePhotos .circlePhoto img {
  width: 200px;
}

.circle {
  margin-top: 20px;
}

.footer-header {
  width: 100%;
  background-color: #000;
  margin-top: 50px;
  padding: 20px 120px;
}
.footer-menu {
  display: flex;
  justify-content: end;
}
.footer-menu ul {
  display: flex;
  gap: 20px;
  color: #fff;
}
.footer-menu ul li {
  font-weight: 300;
  font-size: 16px;
}
.footer-menu ul li span {
  color: rgb(126, 121, 121);
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 5px 0px;
}
.footer-contact h1 {
  color: #fff;
  font-size: 18px;
}
.footer-contact div i {
  margin-right: 5px;
  color: #fff;
}
.footer-contact div a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
