@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  overflow-x: hidden;
}

/* NAVBAR STYLE START */

.hover:hover {
  border-bottom: 1px solid red;
}

/* NAVBAR STYLE END */

.carousel-caption {
  position: absolute;
  bottom: 30%;
  left: 50px;
  right: 50px;
  text-align: left;
  padding: 20px;}


/* CATEGORIES STYLE START */

.categories-header {
  margin: 50px 0px;
  padding: 40px 0px;
}

.categories {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex: 1 1 150px;
  max-width: 180px;
}

.categories .category .circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories .category .circle img {
  width: 50px;
}

/* CATEGORIES STYLE END */

/* SLIDER CARDS STYLE START */

.flex {
  margin-top: 50px;
  width: 100%;
}

.container {
  width: 100%;
}

.eventText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventText p {
  font-weight: 600;
}

.card-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.card-container {
  flex: 1;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.card img.photo {
  width: 100%;
  height: auto;
}

.card h5 {
  margin: 10px 5px;
}

.card span {
  display: block;
  margin: 5px 5px;
}

.arrow {
  position: absolute;
  top: 85%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  width: 100%;
  height: auto;
}

.prev-arrow {
  left: -40px;
  display: none;
}

.next-arrow {
  right: -40px;
}

/* SLIDER CARDS STYLE END */

/* CIRCLE CARDS STYLE START */

.circle {
  margin-top: 20px;
}

.circlePhotos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circlePhotos .circlePhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.circlePhotos .circlePhoto img {
  width: 250px;
  height: 250px;
}

/* CIRCLE CARDS STYLE END */

/* GROUP STYLE START */

.groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdd1d5;
  padding: 20px;
}

.groupImg {
  padding: 20px 40px;
  flex-wrap: wrap;
}

.group {
  margin-top: 50px;
}

/* GROUP STYLE END */

/* FOOTER STYLE START */

.footer-header {
  width: 100%;
  background-color: #000;
  margin-top: 50px;
  padding: 20px 120px;
}

.footer-menu {
  display: flex;
  justify-content: end;
}

.footer-menu ul {
  display: flex;
  gap: 20px;
  color: #fff;
}

.footer-menu ul li {
  font-weight: 300;
  font-size: 16px;
}

.footer-menu ul li span {
  color: rgb(126, 121, 121);
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 5px 0px;
}

.footer-contact h1 {
  color: #fff;
  font-size: 18px;
}

.footer-contact div i {
  margin-right: 5px;
  color: #fff;
}

.footer-contact div a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/* FOOTER STYLE END */

@media (max-width: 768px) {


 

  .categories {
    grid-template-columns: repeat(3, 1fr);
  }

  .circlePhoto {
    width: 45%;
    margin-bottom: 20px;
  }

  .circlePhoto img {
    width: 250px;
    height: 250px;
  }

  .groups {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .groupImg {
    padding: 20px 0;
    width: 100%;
  }

  .groupText {
    padding: 20px 0;
    width: 100%;
  }

  .btn {
    margin: 20px 0;
  }

  .footer-header {
    padding: 20px 10px;
  }

  .footer-menu {
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-menu ul {
    gap: 10px;
  }

  .arrow {
    display: none;
  }
}


@media (max-width: 600px){
  

 .carousel-caption {
    top: 5%;
    left: 20px;
    right: 20px;
    text-align: center; 
  }

  .carousel-caption h5 {
    font-size: 18px; 
  }

  .carousel-caption p {
    font-size: 14px; 
  }

  .carousel-caption .btn {
    font-size: 14px; 
  } 

  .categories {
    justify-content: center;
  }

  .categories .category {
    flex: 1 1 100%;
    max-width: 100%;
  } 

  .circlePhoto {
    width: 100%;
    margin-bottom: 20px;
  }

  .circlePhoto img {
    width: 100px;
    height: 100px;
  }

}