* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.categories .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.categories .category .circle {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories .category .circle img {
    width: 40px;
}

.flex {
    margin-top: 50px;
    width: 100%;
}

.container {
    width: 100%;
}

.eventText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: auto;
    position: relative;
}

/* Swiper tənzimləmələri */
.swiper-slide {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card {
    border: none; 
    outline: none; 
    box-shadow: none; 
}

.card img.photo {
    width: 100%; 
    height: auto;
}

.card h5 {
    margin: 10px 5px;
}

.card span {
    display: block; 
    margin: 5px 5px; 
}

/* Arrow tənzimləmələri */
.arrow {
    position: absolute;
    top: 70%;
    width: 30px; 
    height: 30px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-arrow {
    left: 10px; 
    display: none; 
    z-index: 1
}

.next-arrow {
    right: 10px; 
    display: block; 
    z-index: 1
}


.swiper-pagination-bullet {
    background: #000; 
}

.circlePhotos{
    display: flex;
    justify-content: space-around;
}

.circlePhotos .circlePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.circlePhotos .circlePhoto img {
    width: 200px;
}

.circle {
    margin-top: 20px;
}

.group {
    margin-top: 50px;
}

.groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDD1D5;
    padding: 20px;
}

